<div class="row review-section " #musicSection>
  <div class="col-lg-4 col-sm-12 row paddingReviewSmall">
    <div
      class="col-sm-12 col-lg-6 front-music-image-div"
      (mouseout)="onLeaveMusicImage()"
      *ngFor="let post of music"
    >
      <div class="bckg-black" (mouseover)="onHoverShowMusicData(post)">
        <div class="review-block">
          <h2>
            <a
              *ngIf="post.kategorije[0] == 190"
              routerLink="/premotavanje/knjige/{{ post.slug }}"
              class="post-name"
              [innerHTML]="post.title.rendered"
              title=""
            ></a>
            <a
              *ngIf="post.kategorije[0] === 191"
              routerLink="/premotavanje/muzika/{{ post.slug }}"
              class="post-name"
              [innerHTML]="post.title.rendered"
              title=""
            ></a>
          </h2>
          <img
            *ngIf="post.featured_image_src"
            src="{{ post.featured_image_src }}"
            class="front-music-image"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-7 border border-dark main-image">
    <img
      *ngIf="!reviewImage"
      src="https://1.bp.blogspot.com/-Trub44p8Pcs/WdpHG4_HsSI/AAAAAAABlIw/oLtLF-FhJkM1wvWeegdOOW0BJ7dA7_UmQCLcBGAs/s1600/alita-angel-cyberpunk.png"
      class="srt-c-frontpage-basic-image"
      alt=""
    />
    <img
      *ngIf="reviewImage"
      src="{{ reviewImage }}"
      alt=""
      [ngClass]="'opacity-third'"
      class="wide-image"
    />
    <h3>
      <a
        class="review-title"
        *ngIf="reviewTitle"
        [innerHTML]="reviewTitle"
        href=""
        title=""
      ></a>
    </h3>
    <p
      class="review-excerpt"
      *ngIf="reviewExcerpt"
      [innerHTML]="reviewExcerpt"
    ></p>
  </div>
</div>
