@import "../../../styles.scss";

.premotavanje {
	min-height: 100vh;
}

.review-section {
	position: relative;
	//background:black;
	width: 100%;
	height: 100%;
	.post-name {
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		top: 10%;
		font-size: 0.8rem;
		color: $primary-color;
		font-weight: 700;
		text-transform: uppercase;
		z-index:2;
		text-align: center;
	}
	.post-name:hover {
		text-decoration: none;
		color: $secondary-color;
	}

	.post-text {
		position: absolute;
		bottom: 0;
		font-size: 1rem;
		color: white;
		z-index: 2;
		padding: 0 7px;
	}
	.front-music-image {
		display: none;
	}
	.main-image {
		position: relative;
		padding: 0;
		height: 75vh;
		background: black;
		overflow: hidden;
		// width: 100%;
		// height: 100%;
		img {
			min-width: 100%;
		 //  	width: 100%;
			// height: 100%;		
		}
		.bckg-black {
		  width: 100%;
		  height: 35%;
		  background: black;
		  position: absolute;
		  bottom: 0;
		  opacity: 0.7;
		}
		.review-title {
			position: absolute;
			top: 0;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			font-size: 1.4rem;
			width: 100%;
			color: white;
			background-color: rgba(80,34,89, 0.7);
			// background: #595858;
			padding: 1rem 2rem;
			font-weight: 700;
			text-transform: uppercase;
			z-index:2;
			text-align: left;
		}
		.review-excerpt {
			position: absolute;
			bottom: 0;
			font-size: 1rem;
			color: white;
			z-index: 2;
			margin: 0;
			padding: 1rem 2rem;
			background-color: rgba(80,34,89, 0.7);
		}

	}
}

.srt-c-frontpage-basic-image {
	width: 100%;
	height: 100%;
	object-fit: fill;
}