.srt-c-spinner-loader-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.srt-c-spinner-loader {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    margin-top: -5rem;
    margin-left: -5rem;
}
