@mixin one-screen() {
  height: 80vh;
}

@mixin section-title-size($size) {
  font-size: $size;
  text-transform: uppercase;
}
@mixin star($size, $color) {
  color: $color;
  font-size: $size;
  margin-right: 0.5rem;
}
@mixin link() {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 700;
}
@mixin linkHover() {
  text-decoration: none;
  color: $secondary-color;
  font-weight: 700;
}
@mixin srt-u-padding-2 {
  padding: 0 2rem;
}