$primary-color: #502259;
$secondary-color: #468036;
$third-color: #365680;
$primary-title-color: #803646;
$primary-border-color: #e7dcdc;
$white: white;
$srt-black: #000000;
$border-color-opacity: rgba(80, 34, 89, 0.4);
$border-color-strong: rgba(80, 34, 89, 1);
$font-family-base: "Rajdhani", sans-serif !important;
