<div
  *ngIf="!isLoading"
  class="row one-screen firm-and-proud-distance-from-header tags-container"
>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <h2 class>Pretraga po tagu: {{ tagName }}</h2>
  </div>
  <app-list-posts-column
    *ngIf="!isFrontPage"
    [searchTerm]="searchItem"
    [searchArea]="'Blog'"
    [isTagPage]="true"
    [name]="tagName"
    [searchRoute]="'blog'"
    [content]="blogTags"
    class="srt-tag-section__container"
  ></app-list-posts-column>
  <app-list-posts-column
    *ngIf="!isFrontPage"
    [searchTerm]="searchItem"
    [searchArea]="'Premotavanje'"
    [isTagPage]="true"
    [name]="tagName"
    [searchRoute]="'premotavanje'"
    [content]="premotavanjeTags"
    class="srt-tag-section__container"
  ></app-list-posts-column>
  <app-list-posts-column
    *ngIf="!isFrontPage"
    [searchTerm]="searchItem"
    [searchArea]="'Bitovi i bajtovi'"
    [isTagPage]="true"
    [name]="tagName"
    [searchRoute]="'b1t0v11bajt0v1'"
    [content]="bbTags"
    class="srt-tag-section__container"
  ></app-list-posts-column>

  <app-is-loading [isLoading]="isLoading"></app-is-loading>
</div>
