@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.frontpage-section {
	display:block;
}

.one-screen {
	padding-top: 3rem;
	.entry-excerpt {
		display: inline;
	}
	.welcome-image {
		img {
			width: 100%;
		}
		.kraina-poetry {
			text-align: center;
			font-style: italic;
			text-align: center;
			p {
				margin-bottom: 0;
			}
		}
	}
	.read-more {
		padding-left: 1rem;
		a {
			@include link();
		}
		a:hover {
			text-decoration: none;
			color: $secondary-color;
		}
	}

}
.selected-citation {
	width: 100%;
}

.welcome-image {
	position: relative;
	padding: 0;
	img {
	  width: 100%;
	  height: 100%;
	}
}
.front-music-image-div {
	height: 8rem;
	// margin-bottom: 2rem;
	padding: 0;
}

.front-music-image-div:before {
  content : "";
  position: absolute;
  left    : 50%;
  transform: translate(-50%, 0);
  bottom  : 0;
  height  : 3px;
  width   : 50%;  /* or 100px */
  border-bottom: 1px solid $border-color-opacity;
}
.opacity-third {
	opacity: 0.7;
}
.opacity-full {
	opacity: 0;
}
.opacity-none {
	opacity: 1;
}
.bb-section {
    .bb-left-container {
    	height: 20rem;
    	// border-bottom: 1px solid $border-color-opacity;
    	margin-bottom: 2rem;
    }
    .bb-right-container{
    	height: 42rem;
    	// border-bottom: 1px solid $border-color-opacity;
    	border-left: 1px solid $border-color-opacity;
    	// border-right: 1px solid #eee;
    }
    h5 a {
    	@include link();
    }
    h5 a:hover {
		@include linkHover();
	}
	.bb-star {
		@include star(1rem, $primary-color);
	}	
}
.blog-section {
	margin-bottom: 3rem;
}

.srt-c-post-text-section {
	margin-bottom: 3rem;
}
.srt-c-post-title-section {
    display: flex;
    flex-direction: row;
}

/* responsive section */
@media only screen and ( min-width: 1024px ) {
	.one-screen {
		@include one-screen();
	}
}

/* small & middle screens */
@media only screen and ( max-width: 1023px ) {
	.one-screen {
		margin-bottom: 3rem;
	}
	.bb-section {
		.bb-left-container {
	    	height: auto;
	    	// border-bottom: 1px solid $border-color-opacity;
	    	margin-bottom: 2rem;
	    	  .border-top {
		    	border-top: none !important;
		    }
	    }
	    .bb-right-container{
	    	height: auto;
	    	border-left: none;
	    }

	    div>div>div>div {
	    	padding-left: 0;
	    }

	}
	.review-section {
		width: auto;

		.main-image	{
			display: none;
		}
		h2 {
			line-height: 0.6;
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
		.post-name {
			position: static;
			// left: 50%;
			// -webkit-transform: translateX(-50%);
			// transform: translateX(-50%);
			// top: 10%;
			font-size: 0.8rem;
			color: $primary-color;
			font-weight: 700;
			text-transform: uppercase;
			z-index:2;
			text-align: center;
			line-height: 1rem;
			
		}
		.front-music-image-div {
			height: 15rem;

			h2 a {
				text-align: center;
			}
			
		}
		.paddingReviewSmall {
			padding-left: 30px !important;
			padding-right: 0 !important;
		}
		

	}

	.blog-section {
		.blog-left-container {
			height: auto;
			border-right: none;
		}
		.blog-right-container {
			height: auto;
			border-bottom: none;
		}
	}
}

.srt-c-add-padding {
    @include srt-u-padding-2;
}

@media only screen and ( min-width: 768px ) and ( max-width: 1023px ){
	.review-section {
		.front-music-image-div {
			height: 30rem;
			overflow: hidden;
			.review-block {
				.front-music-image {
					height: auto;
				}
			}	
		}
	}
}
