<div class="frontpage-section">
  <div class="container one-screen">
    <div *ngIf="!isLoading" class="row">
      <div class="col-sm-12 col-lg-7">
        <div *ngFor="let post of entryPost">
          <h2 class="post-title" [innerHTML]="post.title.rendered"></h2>
          <p
            class="entry-excerpt"
            [innerHTML]="post.content.rendered.substr(0, 885) + '...'"
          ></p>
          <span class="read-more"
            ><a routerLink="/log" title="Read more about this web site"
              >Read more</a
            >
          </span>
        </div>
      </div>
      <div class="col-sm-12 col-lg-5 welcome-image">
        <!-- <img src="assets/img/main-image-1.png"> -->
        <img
          class="img-responsive"
          src="{{ linkToAsset }}/assets/img/psihologija.png"
        />
        <div class="kraina-poetry">
          <p>Fitter, happier, more productive,</p>
          <p>not drinking too much...</p>
        </div>
      </div>
    </div>
    <app-is-loading [isLoading]="isLoading"></app-is-loading>
  </div>
  <!-- <img class="selected-citation" src="assets/img/biafra.png" alt="counter-culture">
	 -->
  <div class="container">
    <div class="bb-section">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <h2 class="section text-right"><span> B1t0v1 1 bajt0v1 </span></h2>
          <app-bb-frontpage></app-bb-frontpage>
        </div>
      </div>
    </div>

    <div class="review-section">
      <h2 class="section text-center"><span>Premotavanje</span></h2>
      <app-premotavanje-frontpage></app-premotavanje-frontpage>
    </div>
    <div class="blog-section">
      <h2 class="section text-left"><span>blog</span></h2>
      <app-blog-frontpage></app-blog-frontpage>
    </div>
  </div>
</div>
