<div *ngIf="!isLoading" class="row firm-and-proud-distance-from-header">
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <div class="row srt-u-reverse-column" *ngFor="let data of post">
      <div class="col-sm-12 col-lg-8">
        <h2
          class="post-title"
          *ngIf="post"
          [innerHTML]="data.title.rendered"
        ></h2>
        <div
          *ngIf="post"
          class="blog-post"
          [innerHTML]="
            this.sanitizer.bypassSecurityTrustHtml(data.content.rendered)
          "
        ></div>
        <div class="post-meta-distance tag-container">
          <div class="post-meta-border"></div>
          <div>
            <span class="date-label-under-image">Datum objavljivanja: </span
            ><span class="date-under-image"> {{ data.date }}</span>
          </div>
          <div class="tag-label-under-image">Tagovi:</div>
          <div>
            <span
              class="tag-in-card tag-bckg"
              *ngFor="let tag of data.tags_name"
            >
              <a
                routerLink="/tags/{{ tag.name }}/{{ tag.term_id }}"
                [innerHTML]="tag.name"
              ></a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 blog-post-meta">
        <app-post-meta-data
          [data]="data"
          [type]="'column'"
        ></app-post-meta-data>
      </div>
    </div>
  </div>
</div>
<app-is-loading [isLoading]="isLoading"></app-is-loading>
