<nav class="navbar navbar-expand-lg navbar-light white srt-nav sticky-top">
  <!-- <img class="srt-logo" src="assets/img/srt-logo.png" /> -->

  <div class="logo-section">
    <a class="srt-logo-text" routerLink="/"
      >Srce, ruke, tastatur<span>@</span></a
    >
    <p class="srt-logo-subtext">
      #00101010 #licni prostor #(dis|u)topija #radionica
    </p>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- routerActiveLink to be used later for styling of navigation -->
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/log']">Log</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/b1t0v11bajt0v1">Bitovi i bajtovi</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Premotavanje
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/premotavanje/muzika" href="#"
            >Muzika</a
          >
          <a class="dropdown-item" routerLink="/premotavanje/knjige">Knjige</a>
          <a class="dropdown-item" [routerLink]="['premotavanje']"
            >Drugi govore</a
          >
          <a class="dropdown-item" [routerLink]="['premotavanje']">Drustvo</a>
          <a class="dropdown-item" [routerLink]="['premotavanje']"
            >Slobodni softver</a
          >
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['blog']">Blog</a>
      </li>
      <li>
        <form
          class="form-inline my-2 my-lg-0"
          (keydown.enter)="onEnterSearch(f)"
          (ngSubmit)="onSearch(f)"
          #f="ngForm"
        >
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            ngModel
            name="searchItem"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </li>
    </ul>
  </div>
</nav>
