/* "../../../../../styles.scss"; */
@import "../../../../../styles/abstracts/_variables.scss";
.srt-frontpage-premotavanje-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.srt-frontpage-premotavanje-tabs-container {
  display: flex;
  margin-bottom: 2rem;
  color: $white;
  font-weight: 700;
}
.srt-frontpage-premotavanje-music-tab {
  line-height: 2rem;
  margin: 0 0.5rem;
  padding: 0.2rem 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $white;
  border: 2px solid $primary-color;
  color: $primary-color;
  border-radius: 4px;
  &:hover {
    color: $white;
    background-color: $primary-color;
    border: 1px solid $primary-color;
  }
}
.srt-frontpage-premotavanje-books-tab {
  line-height: 2rem;
  padding: 0.2rem 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $white;
  border: 2px solid $primary-color;
  color: $primary-color;
  border-radius: 4px;
  &:hover {
    color: $white;
    background-color: $primary-color;
    border: 1px solid $primary-color;
  }
}
