<div class="row review-section">
  <div class="col-lg-4 srt-frontpage-premotavanje-tabs">
    <div class="srt-frontpage-premotavanje-tabs-container">
      <div
        class="srt-frontpage-premotavanje-music-tab"
        (click)="showOnlyMusicPosts()"
      >
        Muzika
      </div>
      <div
        class="srt-frontpage-premotavanje-books-tab"
        (click)="showOnlyBookPosts()"
      >
        Knjige
      </div>
    </div>
  </div>
</div>
