<div class="srt-search__container">
  <app-list-posts-column
    *ngIf="!isFrontPage"
    [searchTerm]="searchItem"
    [searchArea]="'Blog'"
    [isSearchPage]="true"
    [searchRoute]="'blog/pretraga'"
    [content]="blogSearchResult"
    class="srt-search-section__container"
  ></app-list-posts-column>
  <app-list-posts-column
    *ngIf="!isFrontPage"
    [searchTerm]="searchItem"
    [searchArea]="'Premotavanje'"
    [isSearchPage]="true"
    [searchRoute]="'premotavanje/pretraga'"
    [content]="premotavanjeSearchResult"
    class="srt-search-section__container"
  ></app-list-posts-column>
  <app-list-posts-column
    *ngIf="!isFrontPage"
    [searchTerm]="searchItem"
    [searchArea]="'Bitovi i bajtovi'"
    [isSearchPage]="true"
    [searchRoute]="'b1t0v11bajt0v1/pretraga'"
    [content]="bbSearchResult"
    class="srt-search-section__container"
  ></app-list-posts-column>
</div>
