@import "../../../styles.scss";

.srt-search__container {
    margin-right: 0.5rem;
}

.search-area {
  margin-top: 2rem;
  .search-area-span {
    color: $secondary-color;
    font-weight: 700;
  }
}
.search-item {
  color: $secondary-color;
  font-weight: 700;
}
.no-search-results {
  padding-bottom: 2rem;
}

.post-title a:hover {
  text-decoration: none;
  color: $primary-color;
  font-weight: 600;
}

.srt-pretraga__image {
  width: 100%;
}

.srt-search-section__container {
  flex-basis: 100%;
}
