<div *ngIf="type === 'column'">
  <img
    *ngIf="data.featured_media"
    class="featured-image blog-image img-thumbnail"
    src="{{ data.featured_image_src }}"
    alt="{{ data.title.rendered }}"
  />
  <div class="post-meta-distance">
    <div>
      <span class="date-label-under-image">Datum objavljivanja: </span>
      <span class="date-under-image"> {{ data.date }}</span>
    </div>
    <div>
      <span class="tag-label-under-image">Tagovi:</span>
      <span class="tag-under-image" *ngFor="let tag of data.tags_name">
        #<a
          routerLink="/tags/{{ tag.name }}/{{ tag.term_id }}"
          [innerHTML]="tag.name"
        ></a>
      </span>
    </div>
  </div>
</div>
<div *ngIf="type === 'row'">
  <img
    class="music-image-front"
    src="{{ data.featured_image_src }}"
    alt="{{ data.title.rendered }}"
  />

  <div class="text-center">
    <h2 class="music-title text-center" *ngIf="data">
      <a
        routerLink="/premotavanje/muzika/{{ data.slug }}"
        [innerHTML]="data.title.rendered"
      ></a>
    </h2>
    <span class="tag-under-image" *ngFor="let tag of data.tags_name">
      #<a
        routerLink="/tags/{{ tag.name }}/{{ tag.term_id }}"
        [innerHTML]="tag.name"
      ></a>
    </span>
  </div>
  <div class="text-center">
    <span class="date-label-under-image">Datum objavljivanja: </span
    ><span class="date-under-image"> {{ data.date }}</span>
  </div>
</div>
