@import "../../../../styles.scss";

.music-image-front {
  width: 100%;
  height: 15rem;
  padding: 1em;
  border: 1px solid #eee;
}
.music-title {
  padding-top: 1rem;
  font-size: 16px;
  font-weight: 700;
  color: $primary-color;
  text-transform: uppercase;
}
.music-item {
  margin-bottom: 4rem;
}