<div class="container page-404">
  <h1 class="title-404 text-center text-danger">404</h1>
  <img class="mx-auto d-block wrong-way-image rounded" src="" />

  <h2 class="text-center text-danger">
    Ajoj, pa djesh ovamo, pogresan put!! Klikni navigaciju, ili dugme za
    rikverc, ovde nema nista pametno.
  </h2>
</div>
