<div *ngIf="!isLoading">
  <div class="row">
    <div class="col-sm-12 col-lg-12 blog-columns">
      <div class="row">
        <div class="col-lg-sm-12 col-lg-4 srt-u-padding-2">
          <app-frontpage-column [postData]="blog" [post_type]="'blog'"></app-frontpage-column>
        </div>
        <div
          class="col-lg-sm-12 col-lg-8 srt-c-blog-right-side srt-u-border-left"
        >
            <app-frontpage-rows [postData]="blog" [post_type]="'blog'"></app-frontpage-rows>
        </div>
      </div>
    </div>
  </div>
</div>
<app-is-loading [isLoading]="isLoading"></app-is-loading>
