@import "../../../../styles.scss";

.blog-section {
  height: auto;
}

.srt-c-blog-right-side {
  padding: 0 2rem;
  margin-bottom: 3rem;
}
.blog-title {
  display: inline !important;
}

.srt-u-border-left {
  border-left: 2px solid $border-color-opacity;
}
.blog-left-container {
  margin-top: 2rem;
  height: auto;
  padding: 0 2rem;
  // img {
  //   width: 100%;
  //   height: 13rem;
  //   object-fit: cover;
  // }
}

.srt-u-padding-2 {
    padding: 0 2rem;
}

.database-content {
    &p {
        text-align: justify;
    }
}
h5 a {
  @include link();
}
h5 a:hover {
  @include linkHover();
}
.blog-columns {
  padding: 0 0;
}
.blog-star {
  @include star(1rem, $primary-color);
}
.srt-c-post-text-section {
  margin-bottom: 3rem;
}
.srt-c-post-title-section {
  display: flex;
  flex-direction: row;
}
