@import "../../../../styles.scss";
.blog-container {
  margin-bottom: 2rem;
  .blog-meta-data {
    padding-left: 2rem;
  }
}

.section {
  margin-bottom: 3rem;
}
.blog-title {
  display: inline !important;
}
.blog-left-container {
  margin-top: 2rem;
  padding-right: 2rem;
  height: auto;
  border-right: 1px solid $border-color-opacity;
}
.blog-right-container {
  height: 20rem;
  border-bottom: 1px solid $border-color-opacity;
  margin-top: 2rem;
}
h5 a {
  @include link();
}
h5 a:hover {
  @include linkHover();
}
.blog-columns {
  padding: 0 0;
}
.blog-star {
  @include star(1rem, $primary-color);
}

.srt-search__show-more-link {
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 0.1rem solid $primary-color;

  &:hover {
    color: $primary-color;
    font-weigth: 600;
    text-decoration: none;
  }
}

@media only screen and (max-width: 1024px) {
  .blog-container {
    .blog-meta-data {
      padding-left: 15px;
    }
  }
}
