<div *ngIf="!isLoading" class="srt-u-border-bottom is-padding-bottom-3">
  <div class="row firm-and-proud-distance-from-header">
    <div class="col-lg-1"></div>
    <div class="col-lg-11"></div>
  </div>
  <div *ngIf="postsList">
    <div class="row blog-container">
      <div class="col-lg-1"></div>
      <div class="col-lg-7 border-stylish">
        <h1 *ngIf="!isSearchPage && !isTagPage" class="section-title">
          {{ sectionTitle }}
        </h1>

        <h2 *ngIf="isSearchPage">Oblast: {{ searchArea }}</h2>
        <h2 *ngIf="isTagPage">Oblast: {{ searchArea }}</h2>
      </div>
    </div>
    <div class="row blog-container" *ngFor="let data of postsList">
      <div class="col-lg-1"></div>
      <div class="col-lg-7 border-stylish">
        <app-post-content-data
          [data]="data"
          [post_type]="post_type"
        ></app-post-content-data>
      </div>
      <div class="col-lg-4 blog-meta-data">
        <app-post-meta-data
          [data]="data"
          [type]="'column'"
        ></app-post-meta-data>
      </div>
    </div>
    <div class="row firm-and-proud-distance-from-header">
      <div class="col-lg-1"></div>
      <div>
        <a
          *ngIf="isSearchPage && postsList.length > 2"
          routerLink="/{{ post_type }}/pretraga/{{ searchTerm }}/1"
          class="srt-search__show-more-link"
          >Pogledaj sve rezultate pretrage za oblast {{ searchArea }}</a
        >
        <a
          *ngIf="isTagPage && postsList.length > 2"
          routerLink="/{{ post_type }}/tagovi/{{ tagName }}/{{ tagID }}/1"
          class="srt-search__show-more-link"
          >Pogledaj sve rezultate pretrage tagova za oblast {{ searchArea }}</a
        >
        <app-pagination
          *ngIf="!isSearchPage"
          [post_type]="post_type"
          [result]="postsList"
          [numberOfPosts]="postsPerPage"
          [pageNumber]="pageNumber"
          [searchBySection]="searchRoute"
          [searchItem]="searchTerm"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!postsList">
  <div class="row blog-container firm-and-proud-distance-from-header">
    <div class="col-lg-1"></div>
    <div class="col-lg-7 border-stylish">
      <h2 *ngIf="isSearchPage">Oblast: {{ searchArea }}</h2>
      <h2 *ngIf="isTagPage">Oblast: {{ searchArea }}</h2>
      <div class="no-search-results">
        <div class="border-bottom alert alert-danger">
          Nema rezultata pretraga za ovaj pojam
        </div>
      </div>
    </div>
  </div>
</div>
