@import "../../../../styles/abstracts/mixins";
@import "../../../../styles/abstracts/variables";


.srt-c-blog-left-side {
    border-right: 2px solid $border-color-opacity;
  }

.srt-c-add-padding {
    @include srt-u-padding-2;
}