
<div *ngIf="!isLoading" class="row">
  <div class="col-lg-sm-12 col-lg-8 srt-c-blog-left-side srt-c-add-padding">
    <app-frontpage-rows [postData]="bb" [post_type]="'b1t0v11bajt0v1'"></app-frontpage-rows>
  </div>
  <div class="col-lg-sm-12 col-lg-4 srt-c-add-padding">
      <app-frontpage-column [postData]="bb" [post_type]="'b1t0v11bajt0v1'"></app-frontpage-column>
  </div>	
</div>
<app-is-loading [isLoading]="isLoading"></app-is-loading>
 
