<div *ngIf="!isLoading" class="row firm-and-proud-distance-from-header">
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <h2 class="section-title">Muzika</h2>
    <div class="row">
      <div class="col-lg-3 music-item" *ngFor="let data of httpResponse">
        <app-post-meta-data [data]="data" [type]="'row'"></app-post-meta-data>
      </div>
    </div>
    <div *ngIf="httpResponse">
      <app-pagination
        [post_type]="post_type"
        [result]="httpResponse"
      ></app-pagination>
    </div>
  </div>
</div>
<app-is-loading [isLoading]="isLoading"></app-is-loading>
