@import "../../../../styles/abstracts/mixins";

.blog-left-container {
  margin-top: 2rem;
  height: auto;

  img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
  }
}

.database-content {
    text-align: justify;
}
.srt-c-post-title-frontpage
 {
  // width:10rem;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space:nowrap;
}


