
  <div *ngFor="let blog of postData; let i = index">
    <div *ngIf="i === 2" class="blog-left-container">
      <div class="srt-c-post-title-section">
        <i class="fas fa-star blog-star"></i>
        <h5 class="srt-c-post-title-frontpage">
          <a
            routerLink="/{{post_type}}/{{ blog.slug }}"
            class="post-name"
            [innerHTML]="blog.title.rendered"
            title=""
          ></a>
        </h5>
      </div>
      <img
        src="{{ blog.featured_image_src }}"
        class="img-fluid img-thumbnail srt-blog-right-container-image"
      />
      <app-list-tags-frontpage [tags]="blog.tags_name"></app-list-tags-frontpage>
      <div class="database-content" [innerHTML]="blog.excerpt.rendered"></div>
      <app-list-post-data-frontpage [postMetaData]="blog"></app-list-post-data-frontpage>
    </div>
  </div>
