@import "../../../../styles/abstracts/variables";

.srt-blog-right-container-image {
  width: 120rem;
  height: 13rem;
  object-fit: cover;
  margin-bottom: 1rem;
}
.srt-c-blog-right-side {
  border-left: 1px solid $border-color-opacity;
}
.srt-c-blog-left-side {
  border-right: 1px solid $border-color-opacity;
}
.blog-right-container-0 {
  border-bottom: 1px solid $border-color-opacity;
}
.blog-right-container-0,
.blog-right-container-1 {
  height: auto;
  margin-top: 2rem;
}


.srt-c-post-text-section {
  margin-bottom: 3rem;
}
.srt-c-post-title-section {
  display: flex;
  flex-direction: row;
}

.srt-c-blog-right-container-column {
  display: flex;
  flex-direction: column;
}

  