<div
  *ngFor="let blog of postData; let i = index"
  class="blog-right-container-{{ i }}"
>
  <div *ngIf="i < 2" class="srt-c-blog-right-container-column">
    <div class="srt-c-post-title-section">
      <i class="fas fa-star blog-star"></i>
      <h5 class="srt-c-post-title-frontpage">
        <a
          routerLink="/{{post_type}}/{{ blog.slug }}"
          class="post-name"
          [innerHTML]="blog.title.rendered"
          title=""
        ></a>
      </h5>
    </div>
    <div>
      <img
        src="{{ blog.featured_image_src }}"
        class="img-fluid img-thumbnail srt-blog-right-container-image srt-c-blog-right-side srt-u-border-left"
      />
      <app-list-tags-frontpage [tags]="blog.tags_name"></app-list-tags-frontpage>

    </div>
    <div class="srt-c-post-text-section">
      <p [innerHTML]="blog.excerpt.rendered"></p>
      <app-list-post-data-frontpage [postMetaData]="blog"></app-list-post-data-frontpage>
    </div>
  </div>
</div>
