@import "../../../styles.scss";

.footer {
  background: white;
  border-top: 1px solid rgba(80, 34, 89, 0.4);
  -webkit-box-shadow: -1px 1px 4px 1px $primary-color;
  -moz-box-shadow: -1px 1px 4px 1px $primary-color;
  box-shadow: -1px 1px 4px 1px $primary-color;
  z-index: 3;
}
.center-vertical {
  line-height: 3rem;
  color: $primary-color;
}
