<p>
  <span class="publishing-date-title">Objavljeno: </span>
  <span class="publishing-date">| {{ postMetaData.date | date: "medium" }} |</span>
  <span class="publishing-date-title"> u sekciji '{{ postMetaData.type }}' </span>
</p>
