<div *ngIf="!isLoading" class="srt-premotavanje-frontpage-container">
  <app-premotavanje-frontpage-tabs
    (clickOnTab)="getTabClickData($event)"
  ></app-premotavanje-frontpage-tabs>
  <div class="row review-section " #musicSection>
    <div class="col-lg-4 col-sm-12 row paddingReviewSmall">
      <div
        class="col-sm-12 col-lg-6 front-music-image-div"
        (mouseout)="onLeaveMusicImage()"
        *ngFor="let post of music"
      >
        <div class="bckg-black" (mouseover)="onHoverShowMusicData(post)">
          <div class="review-block">
            <i
              *ngIf="post.kategorije[0] == 190"
              class="fas fa-book-open srt-c-frontpage-premotavanje-icon"
            ></i>
            <a
              *ngIf="post.kategorije[0] == 190"
              routerLink="/#/premotavanje/knjige/{{ post.slug }}"
              class="srt-frontpage-premotavanje-post-name"
              [innerHTML]="post.title.rendered.substring(0, 30) + '...'"
              title=""
              >..</a
            >

            <!-- <img -->
            <!--   *ngIf="post.kategorije[0] == 190" -->
            <!--   class="srt-c-frontpage-premotavanje-image" -->
            <!--   src="assets/img/photo_1982_know_7_sticker_475.jpg" -->
            <!--   alt="know your -->
            <!-- rights image" -->
            <!-- /> -->
            <i
              *ngIf="post.kategorije[0] == 191"
              class="fas fa-music srt-c-frontpage-premotavanje-icon"
            ></i>
            <a
              *ngIf="post.kategorije[0] === 191"
              routerLink="/#/xpremotavanje/muzika/{{ post.slug }}"
              class="srt-frontpage-premotavanje-post-name"
              [innerHTML]="post.title.rendered.substring(0, 30) + '...'"
              title=""
            ></a>

            <!-- <img -->
            <!--   class="" -->
            <!--   src="wp-content/themes/srce-ruke-tastatura/dist/srce-ruke-tastatura/assets/img/photo_1982_know_7_sticker_475.jpg" -->
            <!--   alt="know your rights image" -->
            <!-- /> -->

            <img
              *ngIf="post.featured_image_src"
              src="{{ post.featured_image_src }}"
              class="front-music-image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div
      class="col-lg-7 border border-dark srt-c-frontpage-premotavanje__main-image"
    >
      <img
        *ngIf="!reviewImage"
        src="{{ linkToAsset }}/assets/img/alita.png"
        class="srt-c-frontpage-basic-image"
        alt=""
      />
      <img
        *ngIf="reviewImage"
        src="{{ reviewImage }}"
        alt=""
        [ngClass]="'opacity-third'"
        class="wide-image"
      />
      <h3>
        <a
          class="review-title"
          *ngIf="reviewTitle"
          [innerHTML]="reviewTitle"
          [href]="reviewLink"
          title=""
        ></a>
      </h3>
      <p
        class="review-excerpt"
        *ngIf="reviewExcerpt"
        [innerHTML]="reviewExcerpt"
      ></p>
    </div>
  </div>
</div>
<app-is-loading [isLoading]="isLoading"></app-is-loading>
