@import "../../../../styles.scss";

.premotavanje {
  min-height: 100vh;
}

.review-section {
  position: relative;
  //background:black;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;

  .post-text {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    color: $white;
    z-index: 2;
    padding: 0 7px;
  }
  .front-music-image {
    display: none;
  }
}

.srt-c-frontpage-premotavanje__main-image {
  position: relative;
  padding: 0;
  height: 75vh;
  background: black;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bckg-black {
    width: 100%;
    height: 35%;
    background: black;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
  }
  .review-title {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.4rem;
    width: 100%;
    color: $white;
    background-color: rgba(80, 34, 89, 0.7);
    padding: 1rem 2rem;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
    text-align: left;
  }
  .review-excerpt {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    color: $white;
    z-index: 2;
    margin: 0;
    padding: 1rem 2rem;
    background-color: rgba(80, 34, 89, 0.7);
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.front-music-image-div:hover {
  .srt-c-frontpage-premotavanje-icon {
    // border-bottom: 7px solid $white;
    color: white;
    border: 1px solid white;
  }
  .srt-frontpage-premotavanje-post-name {
    color: white;
  }
}

.review-block {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  &:hover {
    background: $primary-color;
    border-radius: 2px;
    color: $white;
  }
}
.srt-frontpage-premotavanje-post-name {
  font-size: 0.8rem;
  color: $primary-color;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 3.5rem;
  z-index: 2;
  text-align: center;
}
.srt-frontpage-premotavanje-post-name:hover {
  text-decoration: none;
  color: $secondary-color;
}
/* .srt-c-frontpage-premotavanje-image { */
/*     width: 2.5rem; */
/*     height: 2.5rem; */
/*     margin: 0 auto; */
/* } */
.srt-c-frontpage-premotavanje-icon {
  position: absolute;
  top: 1rem;
  left: 50%;
  margin-left: -1.1rem;
  text-align: center;
  color: $primary-color;
  border-bottom: 5px solid $primary-color;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid $primary-color;
  border-radius: 50%;
  font-size: 0.7rem;
}

.srt-c-frontpage-basic-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.srt-c-premotavanje-image {
  position: absolute;
  width: 100%;
  height: 100%;
}
