<h5 class="srt-c-post-title" *ngIf="data">
  <a
    routerLink="/{{ post_type }}/{{ data.slug }}"
    [innerHTML]="data.title.rendered"
  ></a>
</h5>
<div *ngIf="data" class="blog-post" [innerHTML]="data.excerpt.rendered"></div>
