body {
  font-family: $font-family-base;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-base;
  }
  p {
    font-size: 1.3rem;
  }
  a,
  h1,
  h2 {
    color: $primary-color;
  }
}
